<div *ngIf="isLoggedIn()">
  <mat-toolbar color = "primary">
    <button *ngIf="isAdmin()" class="btn navigate-button" (click)="goToAdmin()">Admin Tab</button>
    <button *ngIf="isSupervisor()" (click)="goToSupervisor()" style="margin: 50px;" class="btn navigate-button">Supervisor Tab</button>
    <button *ngIf="isUser()" (click)="goToUser()" class="btn navigate-button">User Tab</button>
    <span class = "filler"></span>
    <button class="btn log-out-button" (click)="logout()">Log Out</button>
 </mat-toolbar>
</div>
