<div class="col-md-6 user-container">
  <h2 class="text-center">Update password</h2>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="oldPassword">Old password:</label>
      <input formControlName="oldPassword" type="password" placeholder="Old password" name="oldPassword" class="form-control"
        id="oldPassword">
    </div>

    <div class="form-group">
      <label for="newPassword">New password:</label>
      <input formControlName="newPassword" type="password" placeholder="New password" name="newPassword" class="form-control" id="newPassword">
    </div>

    <div class="form-group">
      <label for="newPasswordConfirmation">New password confirmation:</label>
      <input formControlName="newPasswordConfirmation" type="password" placeholder="New password confirmation" name="newPasswordConfirmation" class="form-control"
        id="newPasswordConfirmation">
    </div>

    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>