<div class="col-md-6 user-container">
  <h2 class="text-center">Apply for Vacation or Compensation</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="type">Type:</label>
      <select type="text" formControlName="type" placeholder="Type" name="type" class="form-control" id="type">
        <option value="null" disabled>Select type</option>
        <option value="VACATION">VACATION</option>
        <option value="COMPENSATION">COMPENSATION</option>
      </select>
    </div>

    <div class="form-group">
      <label for="days">Days:</label>
      <input formControlName="days" type="number" placeholder="Days" name="days" class="form-control" id="days">
    </div>

    <button type="submit" class="btn btn-success">Create</button>
  </form>
</div>
